[submodule "Foundary/hello_foundary/lib/forge-std"]
	path = Foundary/hello_foundary/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Foundary/hello_foundary/lib/openzeppelin-contracts"]
	path = Foundary/hello_foundary/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "Foundary/test_1/lib/forge-std"]
	path = Foundary/test_1/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Foundary/test_1/lib/solmate"]
	path = Foundary/test_1/lib/solmate
	url = https://github.com/rari-capital/solmate
[submodule "Foundry/security-course/lib/forge-std"]
	path = Foundry/security-course/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Foundry/foundry-sample/lib/forge-std"]
	path = Foundry/foundry-sample/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Foundry/Foundry Introduction/foundry-fund-me/lib/forge-std"]
	path = Foundry/Foundry Introduction/foundry-fund-me/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Foundry/Foundry Introduction/foundry-fund-me/lib/chainlink-brownie-contracts"]
	path = Foundry/Foundry Introduction/foundry-fund-me/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "Foundry/Foundry Introduction/foundry-fund-me/lib/foundry-devops"]
	path = Foundry/Foundry Introduction/foundry-fund-me/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "Foundry/Foundry Introduction/fortune-fund/lib/forge-std"]
	path = Foundry/Foundry Introduction/fortune-fund/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Foundry/Foundry Introduction/fortune-fund/lib/chainlink-brownie-contracts"]
	path = Foundry/Foundry Introduction/fortune-fund/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "Foundry/Foundry Introduction/fortune-fund/lib/solmate"]
	path = Foundry/Foundry Introduction/fortune-fund/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "Foundry/Foundry Introduction/fortune-fund/lib/foundry-devops"]
	path = Foundry/Foundry Introduction/fortune-fund/lib/foundry-devops
	url = https://github.com/ChainAccelOrg/foundry-devops
[submodule "Foundry/Foundry Introduction/NFT-Marketplace/lib/forge-std"]
	path = Foundry/Foundry Introduction/NFT-Marketplace/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Foundry/Foundry Introduction/NFT-collection/lib/forge-std"]
	path = Foundry/Foundry Introduction/NFT-collection/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Foundry/Foundry Introduction/NFT-collection/lib/openzeppelin-contracts"]
	path = Foundry/Foundry Introduction/NFT-collection/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "Foundry/Foundry Introduction/NFT-collection/lib/OpenPositions"]
	path = Foundry/Foundry Introduction/NFT-collection/lib/OpenPositions
	url = https://github.com/Cyfrin/OpenPositions
[submodule "Foundry/Foundry Introduction/NFT-collection/lib/foundry-devops"]
	path = Foundry/Foundry Introduction/NFT-collection/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "Foundry/Foundry Introduction/basic-nft/lib/forge-std"]
	path = Foundry/Foundry Introduction/basic-nft/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Foundry/Foundry Introduction/basic-nft/lib/foundry-devops"]
	path = Foundry/Foundry Introduction/basic-nft/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "Foundry/Foundry Introduction/basic-nft/lib/openzeppelin-contracts"]
	path = Foundry/Foundry Introduction/basic-nft/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
