[submodule "Foundary/hello_foundary/lib/forge-std"]
	path = Foundary/hello_foundary/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Foundary/hello_foundary/lib/openzeppelin-contracts"]
	path = Foundary/hello_foundary/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "Foundary/test_1/lib/forge-std"]
	path = Foundary/test_1/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Foundary/test_1/lib/solmate"]
	path = Foundary/test_1/lib/solmate
	url = https://github.com/rari-capital/solmate
[submodule "Foundry/security-course/lib/forge-std"]
	path = Foundry/security-course/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
